
// HEADER BEGINS

header {
    max-width:100vw;
    height:100vh;
// main-nav begins
    .top-header {
        max-width:100%;
        height:10%;
        flex-flow:row nowrap;
        left: 0;
        position:relative;
        display: flex;
        align-items: flex-end;
        justify-content:space-around;

        .logo {
            width:250px; 
        }
        
        .main-navigation{
            margin: 60px 0 0 0;
            padding-right:10px;
        
            ul {
                list-style:none;
                display:flex;
                flex-flow:row nowrap;
                justify-content: space-between;
                align-items:flex-end;
                width: 635px;
                padding:0;
                margin:0;

                @media(max-width:1200px) {
                    width:370px;
                }
            }
        }
        
        .main-navigation__list-item {
                padding-left:20px;
                position:relative;
                transition: all .3s ease-in-out;
            
                &:hover::after {
                    position:absolute;
                    content:"";
                    background-color: $gold;
                    height:3px;
                    width:25px;
                    top:27px;
                    left:19px;
                }
        
            &:hover .main-navigation__sub-menu ul{
                        display: flex;
                        flex-flow: column nowrap;
                        a {
                            color:$grey;
                        }

                .sub-menu__link:hover {
                    color:$black;
                }
            }
        }
    
        .main-navigation__sub-menu ul {
            padding:0;
            margin:0;
            width:500px;
            position:absolute;
            display:none;

            li {
                padding-top:10px;
            }
        }


        .session-menu {
            margin-top:65px;
            display:flex;

            &__link {
                display:flex;
                align-items:flex-end;
            }
            @media(max-width: 768px) {
                display: none;
            }
        
        }
        

        .language {
            margin-top:75px;
            display:flex;
            justify-content: space-between;
            align-items: center;
            @media(max-width: 768px) {
                display: none;
            }
        }

        .language select {
            padding: 0 10px;
            border:none;
            background-color:whitesmoke;
            color: $grey;
            -moz-appearance:none; /* Firefox */
            -webkit-appearance:none; /* Safari and Chrome */
             appearance:none;
        }
        
    }
    // main nav ends

    // header content begins
    
    .header-content {
        margin: 90px 0 0 0;
        width:100%;
        height:calc(90% - 90px);
        display: flex;
        justify-content:flex-end;
        position:relative;

        // @media(max-width:940px) {
        //     height:600px;
        // }

        @media(max-width:768px) {
            height:600px;
        }
        @media(max-width:1440px) {
                background-color:rgba(255,255,255,.3)
            }

        .text-container {
            width:100%;
            position:absolute;
            left:10%;
            top: 0;
            z-index:100;

         @media (max-width:1440px) {
             top: 15%;
         }
            .header-4--primary.date {
                    margin: 0;
                    position:relative;
                
                    &:after {
                        content:"";
                        width:80px;
                        height:3px;
                        background-color:grey;
                        position:absolute;
                        top:50px;
                        left:0;
                    }
                }
            .paragraph {
                    margin: 5% 0 0 0;
                    padding:0;
                }
            
            .header-1--container {
                position:absolute;
                bottom:30%;
                left:-1%;

                @media(max-width:1625px) {
                    left:-50px;
                }
                .header-1--primary {
                line-height:1;
                position:absolute;
                left: 0;
                top:15px;
                z-index:-1;

                    @media (max-width:1440px) {
                        display:none;
                    }
                }   
            }
            .header-2--primary--second {
            margin: 0 0 2% 0;
            }

        }// text-container ends

        .image-container {
            background-image: url(../images/main-image-1.png);
            background-size:cover;
            background-position: right;
            background-repeat:no-repeat;
            width:62%;
            position: relative;
            z-index:-5;
            right: 0;

            @media(max-width:1440px) {
                width:100%;
                background-color:rgba(255,255,255,.3)
            }
        }

        .image--bars {
            position:absolute;
            left: 10%;
            bottom:20px;

            @media (max-width:480px){
                left:10%;
                bottom:20px;
            }
        }

        .chevron-container {
            position:absolute;
            z-index:10;
            bottom:0;
            right:0;
        }
    }
}
    // header content ends

    

    // responsive nav begins
     label[for="toggle"] {
        position: fixed;
        top: 15px;
        right: 25px;
        color:$black;
        z-index:6;
        font-size:3rem;
        &:hover {
            color:$gold;
        }
    }
    
   .navigation--responsive {
       display: none;
   }

   
    #toggle {
        display: none;
    }

    svg.hamburger {
        display: none;
    }

    /* Landscape phone to portrait tablet */
    @media (max-width: 768px) {
        .main-navigation {
            display: none;
        }
        
        svg.hamburger {
            display:block;
            z-index:4000;
        }

        .navigation--responsive {
            display: block;
            background: linear-gradient(to top, $grey, lighten($grey, 40));
            z-index:3000;
            width: 200px;
            height:100vh;
            position:fixed;
            top:-100vh;
            right: 0;
            left:0;
            bottom:0;
            margin: 0;
            padding:0;
            transition: top 1s ease;

            ul {
                list-style: none;
                height:70vh;
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                margin: 90px 0 0 0;
                padding:0;
                
                li {
                    margin: 0;
                    padding:0;

                    a{
                        padding:50px 20px 50px 30px;
                    }
                }
            }
        }

        #toggle:checked ~ .navigation--responsive {
            top: 0vh;
        } 
    }

// HEADER ENDS