@import "setup";
@import "utils";
@import "typography";
@import "components/header";
@import "components/footer";


body {
    max-width: 1920px;
    margin:0 auto;
    background-color:whitesmoke;
    overflow-x:hidden;
}

 label[for="toggle"] {
    position: fixed;
    top: 15px;
    right: 25px;
    color:$black;
    z-index:6;
    font-size:3rem;
        &:hover {
            color:$gold;
        }
    }


.wrapper {
    max-width: 1170px;
    margin:0 auto;
}

img {
    max-width:100%;
}

// SECTION 1 BEGINS
    .section-1 {
            clear:both;
            display:flex;
            flex-basis: row wrap;
            justify-content: space-between;
            max-width:1700px;
            margin: 7% auto 0;

            @media (max-width: 768px) {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items:center;
            }
            .figure__link {
                flex-basis: 30%;

                @media (max-width:480px) {
                    flex-basis:400px;
                    margin:0 auto;
                }
            }
            figure {
                position:relative;

                img {
                    max-width: 100%;
                }

                .header-5-container {
                    display:block;
                    position:absolute;
                    left:-25%;

                    @media(max-width:768px) {
                        left:0
                    }

                    @media(max-width:480px) {
                        left:0
                    }
                }

                .header-5-container.first {
                    top:70%;
                }

                .header-5-container.second {
                    top:80%;
                }

                .paragraph {
                        position:absolute;
                        top:30%;
                        left:-30%;

                    &::before {
                        content: "";
                        width: 15px;
                        height:1px;
                        background-color:black;
                        position:absolute;
                        top:75%;
                        left:-20%;  
                    }
                    @media(max-width:768px) {
                        display:none;
                    }
                }
            }
        }

// SECTION 1 ENDS 

// SECITON 2 AND SECTION 4
h3 {
    position:absolute;
        @media (max-width:1000px) {
            display: none;
        }
    }

.section-2 h3 {
    top:50%;
    right:-10%;
}

.section-4 h3 {
    top:42%;
    left:-5%;
}

.section-2, .section-4 {
    position:relative;
    max-width:100%;
    margin:140px auto;

        @media (max-width:940px) {
            margin: 100px auto;
        }
    }

    .paragraph--subtitle {
        float:left;
    }

    .link-container--prev-next {
        float:right;

        @media (max-width:480px) {
            float:none;
        }
    }

    .figure-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        clear: both;

        .figure__link {
            flex-basis: 270px;

            @media(max-width:940px) {
                flex-basis:300px;
            }
   
        .figure {
            position: relative;
            margin: 60px 0 0 0;

            @media(max-width:480px) {
                margin:0;
            }

            &:hover {
                background: rgba(255,255,255,0.1)
            }

           .image-container {
            max-width: 270px;
            max-height:370px;
            position:relative;
            padding:0;
            margin:0;
            }

            .link-container {
                width:42px;
                height:42px;
                display: flex;
                justify-content: center;
                align-items:center;
                background-color:$black;
                position:absolute;
                bottom:0;
                right:0;
                transition: background-color .3s;

                &:hover {
                    background-color:$gold;
                }
                    .image--bag {
                        width:20px;
                        position:absolute;
                        color:$white;
                    }
            }
        }
    }
}
// SECTION 2 AND SECTION 4 ENDS
    
// SECTION 3 BEGINS 
.section-3 {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    position:relative;
    max-width: 1170px;
    margin: 0 auto;


    .image-container {
        background-image: url(../images/main-image-2.png);
        background-size:contain;
        background-position: right;
        background-repeat:no-repeat;
        width:72%;
        height:600px;
        display:flex;
        flex-flow:column nowrap;
        align-items:flex-end;
      }

    .text-container {
        display: flex;
        flex-flow:column nowrap;
        justify-content: flex-end;
        align-items:flex-end;
        border: 2px solid whitesmoke;
        position:absolute;
        right:0;
        z-index:100;
        top:20%;
        text-align:right;
        width: 890px;

        @media(max-width:768px) {
             flex-flow:column nowrap;
            justify-content: center;
            align-items:center;
            width:400px;
        }

        .paragraph--subtitle {
            text-align:right;
        }
    
        .link-container--round {
            margin: 50px 0 100px;
        }
    }

    .paragraph--rotate {
        position:absolute;
        bottom:-32%;
        right:28%;
    }
}
// SECTION 3 ENDS

// section 3 responsive begins
.section-3--responsive  {
    display:none; 
   

    @media(max-width:768px) {
        display:block;
         position:relative;
        background-image: url(../images/main-image-2.png);
        background-size:contain;
        background-position: right;
        background-repeat:no-repeat;
        height:400px;
        width:100%;

        .text-container {
            display:flex;
            flex-flow: column nowrap;
            align-items:center;
            justify-content:space-around;
            position:absolute;
            top: 0;
            left:0;
        }
    }
}
// section 3 responsive ends


// SECTION 4 ENDS 

// SECTION 5 BEGINS 

.section-5 {

    .wrapper {
    display:flex;
    flex-flow: column wrap;

        .top-container, .bottom-container {
            width: 100%;
            display: flex;
            flex-flow:row;
            position:relative;

            .text-container, .image-container {
            width:50%;
                @media(max-width:940px) {
                   width:100vw; 
                }
            }
            .text-container {
            z-index:3;
            max-width:430px;

            @media(max-width:940px) {
                   width:100vw; 
                }
             }

            .image-container {
            z-index:2;
            height:390px;
            background-size:cover;
            background-position: right;
            background-repeat: no-repeat;
            position: absolute;
            width:700px;
             @media(max-width:940px) {
                   width:100vw; 
                }
            
            }
        }
    
        .text-container.top {
            margin: 9% 0 8% 10%;
        }

        .text-container.bottom {
            margin: 50px 8% 130px 0; 
        }

        .top-container {
            .image-container {
                background-image: url(../images/blog-1.png);
                z-index:2;
                top:0;
                right:0;
            }
        }
        .bottom-container {
            justify-content: flex-end;
            margin: -6% 0 0 0;
            .image-container {
            background-image: url(../images/blog-1.png);
            z-index:1;
            bottom:10%;
            left:0;
            }
            .chevron-container {
                position:absolute;
                bottom:0;
                right:0;
            }
        }
    }
}
// SECTION 5 ENDS 

// section-5--responsive begins

.section-5--responsive {
    display: none;
}

@media (max-width: 940px) {
    .section-5 {
        display:none;
    }

    .section-5--responsive {
        display:block;
        width:100vw;
        position:relative;
        
        .image-container {
            width:785px;
            height:500px;
            background: url(../images/blog-1.png);
            background-size:cover;
            background-position:center;
            background-repeat: no-repeat;
        }

        .text-container {
            display:flex;
            flex-flow:column nowrap;
            justify-content: center;
            align-items: center;
            position: absolute;
            top:0;
            bottom:0;
            z-index:5;
            max-width: 400px;

            // .paragraph--uppercase--light, .paragraph--capitalize--light
            

            h4 {
                color:$white;
            }

            .paragraph {
                text-align:center;
                text-shadow: .5px .5px  white;
                color: darken($grey, 40%)
            }
        }
    }
}




// SECTION 6 BEGINS 
.section-6 {
        display:flex;
        flex-flow: row wrap;
    .container {
        width:50%;
        height:480px;
        margin: 0;
        padding:0;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;

        @media(max-width: 940px) {
            width:100%
        }

        &.left, &.right {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        &.left {
            background: url(../images/footer-1.png); 
           
        }

        &.right {
            background: url(../images/footer-2.png); 
        }

        .text-container {
            text-align:left;
         @media(max-width: 940px) {
                display:flex;
                flex-flow: column nowrap;
                justify-content:center;
                align-items:center;

        }

            .header-4--primary, .header-4--primary--white {
                padding:0;
                margin:0;

                @media(max-width: 940px) {
                    text-align:center;
                }
            }

            .paragraph--subtitle {
                padding: 0;
                margin: 10px 0 30px 0;
            }

            .link-container--round {
                margin:0;
            }
        }
    }
}
// SECTION 6 ENDS

