@import "setup";
@import "utils";
@import "typography";
@import "components/header";
@import "components/footer";


body {
    max-width: 1920px;
    margin:0 auto;
    background-color:whitesmoke;
}

 label[for="toggle"] {
    position: fixed;
    top: 25px;
    left: 25px;
    color:$black;
    z-index:6;
    font-size:3rem;
        &:hover {
            color:$gold;
        }
    }


.wrapper {
    max-width: 1170px;
    margin:0 auto;
}

img {
    max-width:100%;
}

// SECTION 1 BEGINS
    .section-1 {
            clear:both;
            display:flex;
            justify-content: space-around;
            max-width:1700px;
            max-height:600px;
            margin: 7% auto 0;
            a {
                max-width: 25%;
            }
            figure {
                position:relative;
                // max-width: 25%;

                img {
                    max-width: 100%;
                }

                .header-5-container {
                    display:block;
                    position:absolute;
                    left:-25%;
                }

                .header-5-container.first {
                    top:70%;
                }

                .header-5-container.second {
                    top:80%;
                }

                .paragraph {
                        position:absolute;
                        top:30%;
                        left:-30%;

                    &::before {
                        content: "";
                        width: 15px;
                        height:1px;
                        background-color:black;
                        position:absolute;
                        top:75%;
                        left:-20%;                        
                    }
                }
            }
        }
// SECTION 1 ENDS 

// SECITON 2 BEGINS (and also section-4)
.section-2 h3 {
    position:absolute;
    top:50%;
    right:-10%;
}

.section-4 h3 {
    position:absolute;
    top:50%;
    left:-8%;
}
.section-2, .section-4 {
    position:relative;
    max-width:100%;
    margin:140px auto;
    border: 4px gold solid;


    .paragraph--subtitle {
        float:left;
    }

    .link-container--prev-next {
        float:right;
    }

    .figure-container {
        display: flex;
        justify-content: space-between;
        clear:both;
   
        .figure {
            position: relative;
            margin: 60px 0 0 0;

            &:hover {
                background: rgba(255,255,255,0.1)
            }

           .image-container {
            width: 270px;
            max-height:370px;
            position:relative;
            padding:0;
            margin:0;
            }

            .link-container {
                width:42px;
                height:42px;
                display: flex;
                justify-content: center;
                align-items:center;
                background-color:$black;
                position:absolute;
                bottom:0;
                right:0;
                transition: background-color .3s;

                &:hover {
                    background-color:$gold;
                }
                    .image--bag {
                        width:20px;
                        position:absolute;
                        color:$white;
                    }
                }
        }
    }
}
// SECTION 2 ENDS
    
// SECTION 3 BEGINS 
.section-3 {
    display: flex;
    flex-flow: row nowrap;
    align-items:flex-end;
    position:relative;
    max-width: 1170px;
    margin: 0 auto;


    .image-container {
        background-image: url(../images/main-image-2.png);
        background-size:cover;
        background-position: right;
        background-repeat:no-repeat;
        width:72%;
        height:600px;
        position: relative;
        z-index:-5;
        display:flex;
        flex-flow:column nowrap;
        align-items:flex-end;
      }

    .text-container {
        border: 2px solid white;
        // height:325px;
        // width:28%;
        position:relative;
        bottom:40%;
        // right:0;
    
        .link-container--round {
            margin: 50px 0 0 0;
        }
    }

    .paragraph--rotate {
        position:absolute;
        bottom:0;
        left:0;
    }
}
// SECTION 3 ENDS


// SECTION 4 ENDS 

// SECTION 5 BEGINS 

.section-5 {

    .wrapper {
    display:flex;
    flex-flow: column wrap;

        .top-container, .bottom-container {
            width: 100%;
            display: flex;
            flex-flow:row;
            position:relative;

            .text-container {
            z-index:3;
            width:50%;
            max-width:430px;
             }

            .image-container {
            z-index:2;
            width:50%;
            height:390px;
            background-size:cover;
            background-position: right;
            background-repeat: no-repeat;
            position: absolute;
            }
        }
    
        .text-container.top {
            margin: 9% 0 8% 10%;
        }

        .text-container.bottom {
            margin: 50px 8% 130px 0; 
        }

        .top-container {
            
            .image-container {
                background-image: url(../images/blog-1.png);
                width:700px;
                z-index:2;
                top:0;
                right:0;
            }
        }


        .bottom-container {
            justify-content: flex-end;
            margin: -6% 0 0 0;
            .image-container {
            
            background-image: url(../images/blog-1.png);
            z-index:1;
            bottom:10%;
            left:0;
            width:700px;
            }

            .chevron-container {
                position:absolute;
                bottom:0;
                right:0;
            }
        }
    }
}
// SECTION 5 ENDS 

// SECTION 6 BEGINS 
.section-6 {
        display:flex;
        flex-flow: row wrap;
    .container {
        width:50%;
        height:480px;
        margin: 0;
        padding:0;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;

        &.left {
            background: url(../images/footer-1.png); 
            background-size: cover;
            background-repeat: no-repeat;
        }

        &.right {
            background: url(../images/footer-2.png); 
            background-size: cover;
            background-repeat: no-repeat;
        }

        .text-container {
        text-align:left;

            .header-4--primary {
                padding:0;
                margin:0;
            }

            .paragraph--subtitle {
                padding: 0;
                margin: 10px 0 30px 0;
            }

            .link-container--round {
                margin:0;
            }
        }
    }
}
// SECTION 6 ENDS

